@charset "UTF-8";

.separator_label {
  width: 100%;
  background-color: #ffa057;
  text-align: center;
  line-height: 2.4rem;
}

.copyright_label {
  width: 100%;
  background-color: #dadada;
  text-align: center;
  line-height: 2.4rem;
}

.type_label {
  font-size: 3.2rem;
  line-height: 2.4rem;
}

/* --------------------- 見出し --------------------- */
.h1_label {
  margin-bottom: 3rem; 
  padding: 1rem;
  font-size: 2.5rem;
  background: #f9f9f9;
  border-left: solid 5px #4ee5da;
  border-bottom: solid 3px #dadada;
}
.h1-index_label {
  margin-bottom: 4rem; 
  font-family: Yasashisa;
  font-size: 4rem;
}
.h2_label {
  padding: 1rem 0 1rem 1.5rem;
  font-size: 2.2rem;
  border-top: solid 3px #aaaaaa;
  border-bottom: solid 3px #aaaaaa;
}
.h3_label {
  padding-left: 1.5rem;
  font-size: 2rem;
  border-bottom: solid 3px #4ee5da;
  position: relative;
}
