@charset "UTF-8";

/* 記事タイトルリスト
  参考
  https://www.yuu-diaryblog.com/2017/03/14/list-design/
*/
.article_list {
  width: 95%;
  list-style: none;
}
.article_list li {
  position: relative;
  padding: 1rem 1rem 1.2rem 3rem;
  font-weight: bold;
  border-bottom: 1px solid rgba(127, 69, 50, 0.8);
}
.article_list li:after,
.article_list li:before {
  content: "";
  position: absolute;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.article_list li:before {
  top: 0.7rem;
  left: 0.2rem;
  width: 1.2rem;
  height: 1.2rem;
  border: 2px solid rgba(127, 69, 50, 0.5);
}
.article_list li:after {
  top: 1.2rem;
  left: 0.9rem;
  width: 1.4rem;
  height: 1.4rem;
  background: rgba(127, 69, 50, 0.9);
  -webkit-transform: rotate(60deg);
  -moz-transform: rotate(60deg);
  -o-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  transform: rotate(60deg);
}
.article_list li a {
  text-decoration: none;
  color: #444444;
}

/* 質問リスト
  参考
  https://www.yuu-diaryblog.com/2017/03/14/list-design/
*/
.question_list {
  counter-reset: list;
  list-style-type: none;
  padding: 0;
}
.question_list li {
  position: relative;
  margin: 2rem 0 4rem 4rem;
  padding-top: 0.4rem;
  padding-left: 1rem;
  font-weight: bold;
}
.question_list li:before {
  counter-increment: list;
  content: counter(list);
  position: absolute;
  top: 0.5rem;
  left: -3.1rem;
  width: 1.7rem;
  height: 1.7rem;
  text-align: center;
  color: #ffffff;
  z-index: 1;
}
.question_list li:after {
  content: "";
  position: absolute;
  top: 0.3rem;
  left: -3.2rem;
  width: 1.9rem;
  height: 1.9rem;
  background: #aaaaaa;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
