{% extends 'common/base.html' %}
{% load static %}

{% block title %}
<title>診断したんだん</title>
{% endblock %}

{% block description %}
<meta name="description" content="気軽に出来る性格診断サイト"/>
{% endblock %}

{% block ogp %}
<meta property="og:title" content="診断したんだん">
<meta property="og:description" content="気軽に出来る性格診断サイト"/>
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'shindan/css/pages/question.css'%}"/>
{% endblock %}

{% block contents %}
<h1 class="h1_label">社畜る？×ニートる？</h1>
<h2 class="h2_label">1. 次の質問に回答してください</h2>
<div class="question-form_box">
    <form action="{% url 'syachikuru:answer' %}" method="post">
        <ol class="question_list">
            {% for display_question in display_question_list %}
            <li>
                <p>{{ display_question.question_sentence }}</p>
                {% for choice_sentence in display_question.choice_sentences %}
                <input type="radio" class="radio-input_form"
                       id="choice{{ display_question.question_id }}-{{ forloop.counter }}"
                       name="radio{{ display_question.question_id }}" value="{{choice_sentence}}">
                <label class="radio-label_form" for="choice{{ display_question.question_id }}-{{ forloop.counter }}">{{choice_sentence}}</label>
                {% endfor %}
            </li>
            {% endfor %}
        </ol>
        <button type="submit" class="elliptic_button">結果を見る</button>
        {% csrf_token %}
    </form>
</div>

<div class="ads_display">
    <p class="separator_label">スポンサードリンク</p>
    <img src="./img/ads.jpeg" alt="広告">
</div>

{% endblock %}

{% block js %}
{% endblock %}