@charset "UTF-8";

/* --------------------- プロダクト一覧 --------------------- */
.product_display {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-gap: 2rem;
  margin: 4rem 0;
}

/* --------------------- 広告一覧 --------------------- */
.ads_display {
  width: 80%;
  margin: 0 auto;
  margin-top: 5rem;
}
.ads_display img {
  display: block;
  margin: 0 auto;
  margin-top: 2rem;
  max-width: 100%;
}

/* --------------------- 16タイプ一覧 --------------------- */
.sixteen-type_display {
  display: grid;
  grid-template-columns: repeat(2, 13rem);
  justify-content: center;
  width: 100%;
}
.sixteen-type_display .rectangle_button {
  border: 1px solid #000000;
}
@media screen and (min-width: 768px) {
  .sixteen-type_display {
    grid-template-columns: repeat(4, 13rem);
  }
}
