@charset "UTF-8";

.footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #eeeeee;
}
.footer a {
  color: #444444;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .footer {
    justify-content: center;
  }
  .footer div {
    margin: 1rem;
  }
}