@charset "UTF-8";

/* プロダクトモーダル（背景含む） */

.product_modal {
  display: block;
  visibility: hidden;
  position: absolute;
  width: 100%;
  margin: 0;
  z-index: 99;
  top: 0;
  background-color: rgba(68, 68, 68, 0.9);
  opacity: 0;
}

/* プロダクトモーダルコンテンツ表示部分 */

.product-contents_modal {
  position: fixed;
  overflow-y: scroll;
  flex-flow: column;
  align-items: center;
  padding: 1rem 0;
  top: 10vh;
  left: 10%;
  width: 80%;
  height: 80vh;
  background-color: #ffffff;
}
.product_modal--open {
  visibility: visible;
  transition: all 0.5s;
  opacity: 1;
}

.product-contents_modal .product-modal-img-box_dm {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: content-box;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  width: 100%;
  height: 40vh;
  border-bottom: solid 1px #cccccc;
}
.product-contents_modal .product-modal-img-box_dm img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}
.product-contents_modal .elliptic-anchor_button {
  margin: 0 auto;
}
.product-contents_modal p {
  padding: 4rem 2rem 0 2rem;
}
@media screen and (min-width: 768px) {
  .product-contents_modal p {
    text-align: center;
  }
}

/* --------------------- エラーモーダル --------------------- */

/* エラーモーダル（背景含む） */

.error_modal {
  display: block;
  visibility: hidden;
  position: absolute;
  width: 100%;
  margin: 0;
  z-index: 99;
  top: 0;
  background-color: rgba(68, 68, 68, 0.9);
  opacity: 0;
}

/* エラーモーダルコンテンツ表示部分 */

.error-contents_modal {
  position: fixed;
  overflow-y: scroll;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 1rem 0;
  top: 10vh;
  left: 10%;
  width: 80%;
  height: 80vh;
  background-color: #ffffff;
}
.error_modal--open {
  visibility: visible;
  transition: all 0.5s;
  opacity: 1;
}

.error-contents_modal .error-modal-img-box_dm {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: content-box;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  width: 100%;
  height: 40%;
  border-bottom: solid 1px #cccccc;
}
.error-contents_modal .error-modal-img-box_dm img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}
.error-contents_modal .h2_label {
  width: 80%;
  color: #df3737;
}
.error-contents_modal p {
  padding: 2rem;
}
