<div class="ads_display">
    <p class="separator_label">スポンサードリンク</p>

    <a href="https://px.a8.net/svt/ejp?a8mat=2ZL7QZ+4KBNQQ+279M+BZ0Z5" target="_blank" rel="nofollow">
    <img border="0" width="300" height="250" alt="" src="https://www26.a8.net/svt/bgt?aid=180708731276&wid=001&eno=01&mid=s00000010273002011000&mc=1"></a>
    <img border="0" width="1" height="1" src="https://www16.a8.net/0.gif?a8mat=2ZL7QZ+4KBNQQ+279M+BZ0Z5" alt="">

    <a href="https://px.a8.net/svt/ejp?a8mat=2ZL29S+GF7GHE+50+2HGDN5" target="_blank" rel="nofollow">
    <img border="0" width="200" height="200" alt="" src="https://www25.a8.net/svt/bgt?aid=180701632993&wid=001&eno=01&mid=s00000000018015025000&mc=1"></a>
    <img border="0" width="1" height="1" src="https://www13.a8.net/0.gif?a8mat=2ZL29S+GF7GHE+50+2HGDN5" alt="">
</div>