<div class="ads_display">
    <p class="separator_label">スポンサードリンク</p>
    <a href="https://rpx.a8.net/svt/ejp?a8mat=2ZL29S+GEM0VM+2HOM+656YP&rakuten=y&a8ejpredirect=http%3A%2F%2Fhb.afl.rakuten.co.jp%2Fhgc%2F0ea62065.34400275.0ea62066.204f04c0%2Fa18070182747_2ZL29S_GEM0VM_2HOM_656YP%3Fpc%3Dhttp%253A%252F%252Fwww.rakuten.co.jp%252F%26m%3Dhttp%253A%252F%252Fm.rakuten.co.jp%252F"
       target="_blank" rel="nofollow">
        <img src="http://hbb.afl.rakuten.co.jp/hsb/0ec09ba3.bc2429d5.0eb4bbaa.95151395/" border="0"></a>
    <img border="0" width="1" height="1" src="https://www15.a8.net/0.gif?a8mat=2ZL29S+GEM0VM+2HOM+656YP" alt="">
</div>