<div class="ads_display">

    <table cellpadding="0" cellspacing="0" border="0" style=" border:1px solid #ccc; width:163px;">
        <tr style="border-style:none;">
            <td style="vertical-align:top; border-style:none; padding:10px 10px 0pt; width:108px;"><a
                    href="https://rpx.a8.net/svt/ejp?a8mat=2ZL29S+GEM0VM+2HOM+BWGDT&rakuten=y&a8ejpredirect=http%3A%2F%2Fhb.afl.rakuten.co.jp%2Fhgc%2Fg00rc684.2bo1109e.g00rc684.2bo12c1f%2Fa18070182747_2ZL29S_GEM0VM_2HOM_BWGDT%3Fpc%3Dhttp%253A%252F%252Fitem.rakuten.co.jp%252Fbookoffonline%252F0012623837%252F%26m%3Dhttp%253A%252F%252Fm.rakuten.co.jp%252Fbookoffonline%252Fi%252F12547618%252F"
                    target="_blank" rel="nofollow"><img border="0" alt=""
                                                        src="http://thumbnail.image.rakuten.co.jp/@0_mall/bookoffonline/cabinet/86/0012623837l.jpg?_ex=128x128"/></a>
            </td>
        </tr>
        <tr style="border-style:none;">
            <td style="font-size:12px; vertical-align:middle; border-style:none; padding:10px;"><p
                    style="padding:0; margin:0;"><a
                    href="https://rpx.a8.net/svt/ejp?a8mat=2ZL29S+GEM0VM+2HOM+BWGDT&rakuten=y&a8ejpredirect=http%3A%2F%2Fhb.afl.rakuten.co.jp%2Fhgc%2Fg00rc684.2bo1109e.g00rc684.2bo12c1f%2Fa18070182747_2ZL29S_GEM0VM_2HOM_BWGDT%3Fpc%3Dhttp%253A%252F%252Fitem.rakuten.co.jp%252Fbookoffonline%252F0012623837%252F%26m%3Dhttp%253A%252F%252Fm.rakuten.co.jp%252Fbookoffonline%252Fi%252F12547618%252F"
                    target="_blank" rel="nofollow">【中古】 MBTIへの招待 C．G．ユングの「タイプ論」の応用と展開
                ／ロジャーペアマン(著者),サラアルブリットン(著者),園田由紀(訳者) 【中古】afb</a></p>
                <p style="color:#666; margin-top:5px line-height:1.5;">価格:<span
                        style="font-size:14px; color:#C00; font-weight:bold;">2,694円</span><br/><span
                        style="font-size:10px; font-weight:normal;">(2018/7/7 00:01時点)</span></p></td>
        </tr>
    </table>
    <img border="0" width="1" height="1" src="https://www14.a8.net/0.gif?a8mat=2ZL29S+GEM0VM+2HOM+BWGDT" alt="">

    <div style="width:300px; border:1px solid #ccc;">
        <div style="font-size:12px; padding:10px; border-style:none;"><p style="padding:0; margin:0;"><a
                href="https://rpx.a8.net/svt/ejp?a8mat=2ZL29S+GEM0VM+2HOM+BWGDT&rakuten=y&a8ejpredirect=http%3A%2F%2Fhb.afl.rakuten.co.jp%2Fhgc%2Fg00smcs4.2bo11326.g00smcs4.2bo12b92%2Fa18070182747_2ZL29S_GEM0VM_2HOM_BWGDT%3Fpc%3Dhttp%253A%252F%252Fitem.rakuten.co.jp%252Fconvenimart%252Fconbook-4796880038%252F%26m%3Dhttp%253A%252F%252Fm.rakuten.co.jp%252Fconvenimart%252Fi%252F11381419%252F"
                target="_blank" rel="nofollow">【中古】カーシー博士の人間×人間(にんげんかんけい) セルフヘルプ術―自分は自分・あなたはあなた 人間関係がうまくいく (小プロ・ブックス)
            [Sep 01, 2001] カーシー,デイビッド、 ベイツ,マリリン、 Keirsey,David、 Bates,Marilyn、 京子, 沢田; 文秀, 叶谷</a></p>
            <p style="color:#666; margin-top:5px line-height:1.5;">価格:<span
                    style="font-size:14px; color:#C00; font-weight:bold;">5,620円</span><br/><span
                    style="font-size:10px; font-weight:normal;">(2018/7/7 00:07時点)</span></p></div>
    </div>
    <img border="0" width="1" height="1" src="https://www13.a8.net/0.gif?a8mat=2ZL29S+GEM0VM+2HOM+BWGDT" alt="">
</div>