{% extends 'common/base.html' %}
{% load static %}

{% block title %}
<title>{{ article.title }} | 診断したんだん</title>
<meta content="{{ article.title }} | 診断したんだん" name="title">
{% endblock %}

{% block description %}
<meta name="description"
      content="『診断したんだん』は気軽に出来る性格診断です。こちらは『{{ article.title }}』の記事です。娯楽気分で楽しめるカジュアルな診断の他、MBTIなどの解説記事も公開中。"/>
{% endblock %}

{% block ogp %}
<meta property="og:title" content="{{ article.title }} | 診断したんだん">
<meta property="og:description"
      content="『診断したんだん』は気軽に出来る性格診断です。こちらは『{{ article.title }}』の記事です。娯楽気分で楽しめるカジュアルな診断の他、MBTIなどの解説記事も公開中。">
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'shindan/css/objects/modal.css'%}"/>
<link rel="stylesheet" type="text/css" href="{% static 'shindan/css/pages/article.css'%}"/>
{% endblock %}

{% block contents %}
<article>

    <h1 class="h1_label">{{ article.title }}</h1>

    {% autoescape off %}
    {{ article.header | linebreaks }}
    {% endautoescape %}

    {% autoescape off %}
    {{ article.content1 | linebreaks }}
    {% endautoescape %}

    {% if article.img1 %}
    <img class="article-img_dm" src="{{ article.img1.url }}"/>
    {% endif %}

    {% autoescape off %}
    {{ article.content2 | linebreaks }}
    {% endautoescape %}


    {% if article.img2 %}
    <img class="article-img_dm" src="{{ article.img2.url }}"/>
    {% endif %}

    {% autoescape off %}
    {{ article.content3 | linebreaks }}
    {% endautoescape %}

</article>

{% endblock %}

{% block js %}
{% endblock %}