{% extends 'common/base.html' %}
{% load static %}

{% block title %}
<title>診断したんだん</title>
{% endblock %}

{% block description %}
<meta name="description" content="気軽に出来る性格診断サイト"/>
{% endblock %}

{% block ogp %}
<meta property="og:title" content="診断したんだん">
<meta property="og:description" content="気軽に出来る性格診断サイト"/>
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'shindan/css/objects/modal.css'%}"/>
<link rel="stylesheet" type="text/css" href="{% static 'shindan/css/pages/index.css'%}"/>
{% endblock %}

{% block contents %}
<h1 class="h1-index_label">診断したんだん</h1>

<h2 class="h2_label">16タイプ性格診断</h2>

<div class="product_display">
    {% for app in app_list %}
    {% if app.category == 'sixteen' %}
    <a class="product_box js_product-open" href="{% url 'sixteen:questions' %}">
        <div>
            <img src="{{app.img}}" alt="{{app.title}}">
        </div>
        <p>{{app.summary}}</p>
    </a>
    {% endif %}
    {% endfor %}
    <div class="ads_box">
        <p class="separator_label">スポンサードリンク</p>
        <img src="./img/ads.jpeg" alt="広告">
    </div>
</div>


<h2 class="h2_label">カジュアルな診断</h2>
<div class="product_display">
    {% for app in app_list %}
    {% if app.category == 'syachikuru' %}
    <a class="product_box js_product-open" href="{% url 'syachikuru:questions' %}">
        <div>
            <img src="{{app.img}}" alt="{{app.title}}">
        </div>
        <p>{{app.summary}}</p>
    </a>
    {% endif %}
    {% endfor %}
    <div class="ads_box">
        <p class="separator_label">スポンサードリンク</p>
        <img src="./img/ads.jpeg" alt="広告">
    </div>
</div>


<div class="article_display">
    <h2 class="h2_label">アーティクル</h2>
    <h3 class="h3_label">診断したんだんについて</h3>
    <ul class="article_list">
        {% for article in article_list %}
        {% if article.category == 'shindan' %}
        <li>
            <a href="{% url 'article' article.pk %}">{{ article.title }}</a>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
    <h3 class="h3_label">16タイプ性格診断について</h3>
    <ul class="article_list">
        {% for article in article_list %}
        {% if article.category == 'sixteen' %}
        <li>
            <a href="{% url 'article' article.pk %}">{{ article.title }}</a>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
    <h3 class="h3_label">カジュアル</h3>
    <ul class="article_list">
        {% for article in article_list %}
        {% if article.category == 'casual' %}
        <li>
            <a href="{% url 'article' article.pk %}">{{ article.title }}</a>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
</div>

<div class="ads_display">
    <p class="separator_label">スポンサードリンク</p>
    <img src="./img/ads.jpeg" alt="広告">
</div>
{% endblock %}

{% block modal %}
<div id="js-product_modal" class="product_modal">
    <div id="js-product-contents_modal" class="product-contents_modal">
        <div class="product-modal-img-box_dm">
            <img id="product-modal-img" src="" alt="社畜る×ニートる">
        </div>
        <a id="undergo-anchor" class="elliptic-anchor_button">診断する</a>
        <p>※ 以下を入力して診断すると、より詳細なデータを得ることが出来ます</p>

    </div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static 'shindan/js/modal_menu.js'%}"></script>
{% endblock %}