<div id="js-product_modal" class="product_modal">
    <div id="js-product-contents_modal" class="product-contents_modal">
        <div class="product-modal-img-box_dm">
            <img id="product-modal-img" src="">
        </div>
        <a id="undergo-anchor" class="elliptic-anchor_button">診断する</a>
    </div>
</div>

<div id="js-error_modal" class="error_modal">
    <div id="js-error-contents_modal" class="error-contents_modal">
        <h2 class="h2_label">エラーが発生しました</h2>
        <p id="error-message">{{ error_message }}</p>
    </div>
</div>