{% load static %}
<div id="js-product_modal" class="product_modal">
    <div id="js-product-contents_modal" class="product-contents_modal">
        <div class="product-modal-img-box_dm">
            <img id="product-modal-img" src="">
        </div>
        <a id="undergo-anchor" class="elliptic-anchor_button">診断する</a>
        <p>自分のタイプが分かっている方はこちらから！</p>.
        <div class="sixteen-type_display">
            <a class="rectangle_button" href="{% url 'sixteen:basic_result' result_type='ISFP' %}">ISFP</a>
            <a class="rectangle_button" href="{% url 'sixteen:basic_result' result_type='ISTP' %}">ISTP</a>
            <a class="rectangle_button" href="{% url 'sixteen:basic_result' result_type='ESFP' %}">ESFP</a>
            <a class="rectangle_button" href="{% url 'sixteen:basic_result' result_type='ESTP' %}">ESTP</a>
            <a class="rectangle_button" href="{% url 'sixteen:basic_result' result_type='ISFJ' %}">ISFJ</a>
            <a class="rectangle_button" href="{% url 'sixteen:basic_result' result_type='ISTJ' %}">ISTJ</a>
            <a class="rectangle_button" href="{% url 'sixteen:basic_result' result_type='ESFJ' %}">ESFJ</a>
            <a class="rectangle_button" href="{% url 'sixteen:basic_result' result_type='ESTJ' %}">ESTJ</a>
            <a class="rectangle_button" href="{% url 'sixteen:basic_result' result_type='INFP' %}">INFP</a>
            <a class="rectangle_button" href="{% url 'sixteen:basic_result' result_type='INFJ' %}">INFJ</a>
            <a class="rectangle_button" href="{% url 'sixteen:basic_result' result_type='ENFP' %}">ENFP</a>
            <a class="rectangle_button" href="{% url 'sixteen:basic_result' result_type='ENFJ' %}">ENFJ</a>
            <a class="rectangle_button" href="{% url 'sixteen:basic_result' result_type='INTP' %}">INTP</a>
            <a class="rectangle_button" href="{% url 'sixteen:basic_result' result_type='INTJ' %}">INTJ</a>
            <a class="rectangle_button" href="{% url 'sixteen:basic_result' result_type='ENTP' %}">ENTP</a>
            <a class="rectangle_button" href="{% url 'sixteen:basic_result' result_type='ENTJ' %}">ENTJ</a>
        </div>
        <p>動物診断はこちら！</p>.
        <div class="sixteen-type_display">
            <a class="rectangle_button" href="{% url 'sixteen:animal_result' result_type='ISFP' %}">ISFP</a>
            <a class="rectangle_button" href="{% url 'sixteen:animal_result' result_type='ISTP' %}">ISTP</a>
            <a class="rectangle_button" href="{% url 'sixteen:animal_result' result_type='ESFP' %}">ESFP</a>
            <a class="rectangle_button" href="{% url 'sixteen:animal_result' result_type='ESTP' %}">ESTP</a>
            <a class="rectangle_button" href="{% url 'sixteen:animal_result' result_type='ISFJ' %}">ISFJ</a>
            <a class="rectangle_button" href="{% url 'sixteen:animal_result' result_type='ISTJ' %}">ISTJ</a>
            <a class="rectangle_button" href="{% url 'sixteen:animal_result' result_type='ESFJ' %}">ESFJ</a>
            <a class="rectangle_button" href="{% url 'sixteen:animal_result' result_type='ESTJ' %}">ESTJ</a>
            <a class="rectangle_button" href="{% url 'sixteen:animal_result' result_type='INFP' %}">INFP</a>
            <a class="rectangle_button" href="{% url 'sixteen:animal_result' result_type='INFJ' %}">INFJ</a>
            <a class="rectangle_button" href="{% url 'sixteen:animal_result' result_type='ENFP' %}">ENFP</a>
            <a class="rectangle_button" href="{% url 'sixteen:animal_result' result_type='ENFJ' %}">ENFJ</a>
            <a class="rectangle_button" href="{% url 'sixteen:animal_result' result_type='INTP' %}">INTP</a>
            <a class="rectangle_button" href="{% url 'sixteen:animal_result' result_type='INTJ' %}">INTJ</a>
            <a class="rectangle_button" href="{% url 'sixteen:animal_result' result_type='ENTP' %}">ENTP</a>
            <a class="rectangle_button" href="{% url 'sixteen:animal_result' result_type='ENTJ' %}">ENTJ</a>
        </div>
    </div>
</div>

<div id="js-error_modal" class="error_modal">
    <div id="js-error-contents_modal" class="error-contents_modal">
        <div class="error-modal-img-box_dm">
            <img id="error-modal-img" src="{% static 'shindan/img/error_large.png' %}">
        </div>
        <h2 class="h2_label">エラーが発生しました</h2>
        <p id="error-message">{{ error_message|linebreaksbr }}</p>
    </div>
</div>