@charset "UTF-8";

.container {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 10vh 1fr 8vh;
  min-height: 100vh;
}

.header {
  grid-column: 1;
  grid-row: 1;
}

.contents {
  grid-column: 1;
  grid-row: 2;
  justify-self: center;
  padding: 2rem 1%;
}

@media screen and (min-width: 768px) {
  .contents {
    width: 80%;
  }
}

.footer {
  grid-column: 1;
  grid-row: 3;
}

/* --------------------- 固有定義 --------------------- */

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  max-height: 100%;
}
p {
  margin: 2rem 0 2rem 0;
}
.h2_label {
  margin-top: 4rem;
}
.h3_label {
  margin-top: 3rem;
}
.article_list {
  margin-bottom: 3rem;
}

@media screen and (min-width: 768px) {
  img {
    max-width: 40rem;
    max-height: 40rem;
  }
}
